html{
    font-size: 10px;
}

html, #root, .app{
    height: 100%;
}

.sider{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}

.content{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    max-width: 80rem;
    min-width: 65rem;
    margin: 0 auto;
    background-color: #fff !important;
}

.ant-menu-item {
    display: flex !important;
    align-items: center;
}

.ant-menu-inline-collapsed > .ant-menu-icon{
    padding: 0 calc(50% - 2rem / 2) !important;
}

.ant-layout-sider-collapsed .logo{
    justify-content: center;
}

.ant-layout-sider-collapsed .logo .icon{
    margin-right: 0;
}

.ant-layout-sider-collapsed .logo span{
    width: 0;
    opacity: 0;
}

.header{
    padding: 0.8rem 1.6rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 2px #eee;
}

.header-category {
    display: flex;
    align-items: center;
}
  
.header-category .month-picker {
    flex-basis: 20rem;
}
  
.header-category .ant-statistic {
    flex-grow: 1;
}
  
.header-category .ant-statistic {
    flex-grow: 1;
}

.body{
    height: calc(100% - 14.5rem);
    position: relative;
}

.ant-spin{
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}