.records{
    padding: 0.8rem 2rem 0.8rem 4rem;
}

.daily-records-summary{
    color: rgba(0, 0, 0, 0.45);
    padding: 0.8rem, 0.6rem;
    font-size: 1.6rem;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08)
}

.daily-records-date{
    float: left;
}

.daily-records-detail{
    float: right;
    margin-left: 1rem;
}