.logo{
    height: 6.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
}

.logo > .icon{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;;
}

.logo > span{
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}

.logo-large{
    justify-content: center;
    font-size: 3rem;
    /* width: fit-content;
    margin: 0.2rem auto;
    background: linear-gradient(0, rgb(61, 59, 59) 1px, rgb(61, 59, 59) 1px) no-repeat left top/0 1px,
    linear-gradient(-90deg, rgb(61, 59, 59) 1px, rgb(61, 59, 59) 1px) no-repeat right top/1px 0,
    linear-gradient(-180deg, rgb(61, 59, 59) 1px, rgb(61, 59, 59) 1px) no-repeat right bottom/0 1px,
    linear-gradient(-270deg, rgb(61, 59, 59) 1px, rgb(61, 59, 59) 1px) no-repeat left bottom/1px 0;
    cursor: pointer;
    transition: all 300ms; */
}

/* .logo-large:hover{
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
} */

.logo-large > .icon{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}


.logo-large > span{
	display: inline-block;
	border-right: 1px solid transparent;
	animation: typing 1s steps(3, end), blink-caret .75s steps(6, end);
}

@keyframes typing {
	from{width: 0;}
	to{width: 9rem;}
}

@keyframes blink-caret {
	from, to{box-shadow: 1px 0 0 0 transparent;}
	50%{box-shadow: 1px 0 0 0;}
}

/* .logo-large > span::before{
    overflow: hidden;
    position: absolute;
    top: 0;
    content: attr(data-text);
    animation: shake 3s linear infinite alternate-reverse;
    left: -2px;
    text-shadow: 1px 0 rgb(58, 61, 61);
} */
/* 
.logo-large > span::after{
    overflow: hidden;
    position: absolute;
    top: 0;
    content: attr(data-text);
    animation: shake 3s linear infinite alternate-reverse;
    left: 2px;
    text-shadow: 1px 0 rgb(58, 61, 61);
}

@keyframes shake {
    0% {
      clip: rect(16px, 9999px, 12px, 0);
    }
    5% {
      clip: rect(71px, 9999px, 95px, 0);
    }
    10% {
      clip: rect(34px, 9999px, 58px, 0);
    }
    15% {
      clip: rect(79px, 9999px, 50px, 0);
    }
    20% {
      clip: rect(6px, 9999px, 24px, 0);
    }
    25% {
      clip: rect(50px, 9999px, 15px, 0);
    }
    30% {
      clip: rect(75px, 9999px, 6px, 0);
    }
    35% {
      clip: rect(84px, 9999px, 18px, 0);
    }
    40% {
      clip: rect(74px, 9999px, 15px, 0);
    }
    45% {
      clip: rect(47px, 9999px, 30px, 0);
    }
    50% {
      clip: rect(86px, 9999px, 33px, 0);
    }
    55% {
      clip: rect(53px, 9999px, 38px, 0);
    }
    60% {
      clip: rect(11px, 9999px, 69px, 0);
    }
    65% {
      clip: rect(83px, 9999px, 56px, 0);
    }
    70% {
      clip: rect(55px, 9999px, 8px, 0);
    }
    75% {
      clip: rect(71px, 9999px, 61px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 21px, 0);
    }
    85% {
      clip: rect(26px, 9999px, 86px, 0);
    }
    90% {
      clip: rect(23px, 9999px, 30px, 0);
    }
    95% {
      clip: rect(4px, 9999px, 13px, 0);
    }
    100% {
      clip: rect(19px, 9999px, 81px, 0);
    }
  }
   */

/* .logo{
    animation: logo 1s ease-in 0s 1 normal forwards;
}

@keyframes logo{
    from {opacity: 0;}
    to {opacity: 1;}
} */
