.icon{
    width: 2rem;
    height: 2rem;
}

button.ant-btn-icon-only{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    min-width: unset;
}